<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "header.html" . }}
  </head>

  <body>
    <div class="container-fluid content">
      {{ partial "nav.html" . }}

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

          <div class="row">
            <div class="col-xs-12">
              <div class="page-header">
                <h1>
                  {{ .Title }}
                  {{ if isset .Params "description" }}
                  <small>{{ .Params.description }}</small>
                  {{ end }}
                </h1>
              </div> <!-- .page-header -->
            </div> <!-- .col-xs-12 -->
          </div> <!-- .row -->

          <!-- Main row -->
          <div class="row">
            <div class="col-xs-12">
              {{ .Content }}
            </div> <!-- .col-xs-12 -->
          </div> <!-- .row -->

        </div> <!-- .col-xs-12.col-sm-8.col-sm-offset-2-->
      </div> <!-- .row -->
    </div> <!-- .container-fluid.content -->
  </body>
</html>
